h1{
     text-align: center;
     padding: 40px;
     font-family: harrington;
     font-size: 50px;
}


.header{
     height: 145px;
     background-color: rgb(240, 11, 11);
}

@font-face {
     font-family: harrington;
     src: url(HARRINGT.TTF); }